.message {
  display: flex;
  align-items: center;
  padding: 20px;
  /* border: 2px solid red; */
}

.message > img {
  height: 50px;
  width: 50px;
  border-radius: 999px;
}

.message_info {
  padding: 0px 10px;
}

.message_info_heading > p > strong {
  padding-right: 10px;
}

.message_info_heading > p > span {
  color: grey;
  font-size: 13px;
  font-style: italic;
}

.message_text {
  padding-left: 5px;
  padding-top: 5px;
}
